<html>
<head>

{% include "header.html" %}

</head>

<body>

number of trips: {{trips|length}}

{% include "trip_form.html" %}


<head>
    <style type="text/css">
      html, body, #map-canvas { height: 500px; width: 500px ; margin: 10; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRz8GnEYF2Kvhqtg0NmM8xlu0QznqtcKg">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 40.009535, lng: -75.306561},
          zoom: 14
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      google.maps.event.addListener(map, 'click', function() {
      	getPosition()
      });

    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>




</body>

</html>
